@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

video#video {
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

h1 {
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  position: absolute;
  width: 100%;
  bottom: 0;
}


html {
  font-family: "Quicksand", "sans-serif";
}
