@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

img {
    border: 0;
    z-index: -100;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    position: absolute;
    width: 99%;
    bottom: 0;
}

html {
    font-family: "Quicksand", "sans-serif";
}
